<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>menu</title>
</head>
<body>
<h1>菜單</h1>
	<table border="1">
		<tr>
			<th>選擇</th>
			<th>圖片</th>
			<th>名稱</th>
			<th>單價</th>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td><img width="300"
				src="https://www.fmsc.com.tw/ch/tw/upload/1543829824007.png"></td>
			<td>雞魯飯</td>
			<td>$59</td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td><img width="300"
				src="https://www.fmsc.com.tw/ch/tw/upload/145862523710.png"></td>
			<td>滷肉飯</td>
			<td>$39</td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td><img width="300"
				src="https://www.fmsc.com.tw/ch/tw/upload/145862546211.png"></td>
			<td>雞肉飯</td>
			<td>$39</td>
		</tr>
	</table>
	
	
</body>
</html>