<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<h2 th:text="${text}"></h2>
	<br>
	自己的訂單紀錄
	<table border="1">
		<tr>
			<th>日期</th>
			<th>總計</th>
			<th>狀態</th>
			<th>取消</th>
		</tr>
		<th:block th:each="row : ${selfOrderHistroy}">
			<tr th:attr="data-OID=${row[0]}">
				<td th:text="${row[1]}"></td>
				<td th:text="${row[2]}"></td>
				<th:block th:switch="${row[3]}">
					<td th:case="'0'">未訂</td>
					<td th:case="'1'">已訂</td>
					<td th:case="'2'">已取消</td>
				</th:block>
				<td>
					<!--只有未訂(status=0)才能enable按鈕-->
					<input type="button" value="取消" th:disabled="${row[3]!=0}">
				</td>
			</tr>
		</th:block>
	</table>
</body>
</html>
