<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	<script th:src="@{/js/jquery.min.js}"></script>
	</head>
<body>
	<h2 th:text="${text}"></h2>
	<br>
	主揪的訂單清單(未向店家下訂)
	
	<table border="1">
		<tr>
			<th>客戶</th>
			<th>總計</th>
			<th>日期</th>
			<th>狀態</th>
		</tr>
		<th:block th:each="row : ${unorderList}">
			<tr th:attr="data-OID=${row[0]}">
				<td th:attr="data-CID=${row[1]}" th:text="${row[2]}"></td>
				<td th:text="${row[3]}"></td>
				<td th:text="${row[4]}"></td>
				<th:block th:switch="${row[5]}">
					<td th:case="'0'">未訂</td>
					<td th:case="'1'">已訂</td>
					<td th:case="'2'">已取消</td>
				</th:block>
			</tr>
		</th:block>
	</table>
	<input onclick="sendOk()" type="button" value="我訂好了">
	<button onclick="history.back()">返回</button>
</body>
<script>
function sendOk(){
	if (confirm('確定送出?')) {
		$.ajax({
			url : "/placeTodayOrders",
			contentType : "application/json",
			type : "POST",
			success: function(response){
				alert("下訂成功");
			    window.location.href = "/unorderList";
			},
			error: function(err){
				console.log(err);
				alert("下訂失敗");
			}
		});
	} else {
		// Do nothing!
	}
}
</script>
</html>
